#container{
    margin:0 auto;
    width: 500px;
    height: 500px;
    filter:url('#goo');
    position: relative;;
}
.box{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    animation-name: gene1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.box:nth-child(2) {
    animation-name: gene2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

@keyframes gene1{
    0% {
        transform: scale(1.1) translate(0, 0);

    }
      100% {
          transform: scale(0.5) translate(-100px, 100px);
      }
    }


@keyframes gene2{
    0% {
        transform: scale(1.1) translate(0, 0);

    }
    100% {
          transform: scale(1) translate(100px, 0);
      }
    }
